
{% extends "header.html" %}
{% block body %}

<a class="btn btn-success" href="1">1小时数据</a>
<a class="btn btn-success" href="8">8小时数据</a>
<a class="btn btn-success" href="24">24小时数据</a>

<div id="pm1_0" style="width: 600px;max-width: 100%;height:400px;"></div>
<div id="pm2_5" style="width: 600px;max-width: 100%;height:400px;"></div>
<div id="pm10" style="width: 600px;max-width: 100%;height:400px;"></div>
<div id="co2" style="width: 600px;max-width: 100%;height:400px;"></div>

<script type="text/javascript">
    var date = {{ date|safe }};
    date = date.map(function(x){return new Date(x);})
    var option = {
        title: {
            left: 'left',
        },
        xAxis: {
            type: 'time',
            data: date
        },
        yAxis: {
            type: 'value',
            boundaryGap: [0, '100%']
        },
        toolbox: {
            left: 'center',
            feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                },
                restore: {},
                saveAsImage: {}
            }
        },
        dataZoom: {
            start: 50,
            end: 100,
        },
        series: [{
            type:'line',
            smooth: true,
            sampling: 'average',
            symbol: 'none'
        }]
    };

    var pm1_0_option = option;
    pm1_0_option.visualMap = {
        top: 0,
        right: 0,
        pieces: [{
            gt: 0,
            lte: 35,
            color: '#00E400'
        }, {
            gt: 35,
            lte: 75,
            color: '#FFFF00'
        }, {
            gt: 75,
            lte: 115,
            color: '#FF7E00'
        }, {
            gt: 115,
            lte: 150,
            color: '#FF0000'
        }, {
            gt: 150,
            lte: 250,
            color: '#99004C'
        }, {
            gt: 250,
            color: '#7E0023'
        }],
        outOfRange: {
            color: '#999'
        }
    };
    pm1_0_option.series[0].markLine = {
        silent: true,
        data: [{
            yAxis: 35
        }, {
            yAxis: 75
        }, {
            yAxis: 115
        }, {
            yAxis: 150
        }, {
            yAxis: 250
        }]
    };
    pm1_0 = {{ pm1_0|safe }};
    pm1_0 = pm1_0.map(function (e, i) { return [date[i], e]})
    pm1_0_option.title.text = "PM1.0";
    pm1_0_option.series[0].name = pm1_0_option.title.text;
    pm1_0_option.series[0].data = pm1_0;
    echarts.init(document.getElementById('pm1_0')).setOption(pm1_0_option);

    var pm2_5_option = option;
    pm2_5_option.visualMap = {
        top: 0,
        right: 0,
        pieces: [{
            gt: 0,
            lte: 35,
            color: '#00E400'
        }, {
            gt: 35,
            lte: 75,
            color: '#FFFF00'
        }, {
            gt: 75,
            lte: 115,
            color: '#FF7E00'
        }, {
            gt: 115,
            lte: 150,
            color: '#FF0000'
        }, {
            gt: 150,
            lte: 250,
            color: '#99004C'
        }, {
            gt: 250,
            color: '#7E0023'
        }],
        outOfRange: {
            color: '#999'
        }
    };
    pm2_5_option.series[0].markLine = {
        silent: true,
        data: [{
            yAxis: 35
        }, {
            yAxis: 75
        }, {
            yAxis: 115
        }, {
            yAxis: 150
        }, {
            yAxis: 250
        }]
    };
    pm2_5 = {{ pm2_5|safe }};
    pm2_5 = pm2_5.map(function (e, i) { return [date[i], e]})
    pm2_5_option.title.text = "PM2.5";
    pm2_5_option.series[0].name = pm2_5_option.title.text;
    pm2_5_option.series[0].data = pm2_5;
    echarts.init(document.getElementById('pm2_5')).setOption(pm2_5_option);

    var pm10_option = option;
    pm10_option.visualMap = {
        top: 0,
        right: 0,
        pieces: [{
            gt: 0,
            lte: 50,
            color: '#00E400'
        }, {
            gt: 50,
            lte: 150,
            color: '#FFFF00'
        }, {
            gt: 150,
            lte: 250,
            color: '#FF7E00'
        }, {
            gt: 250,
            lte: 350,
            color: '#FF0000'
        }, {
            gt: 350,
            lte: 420,
            color: '#99004C'
        }, {
            gt: 420,
            color: '#7E0023'
        }],
        outOfRange: {
            color: '#999'
        }
    };
    pm10_option.series[0].markLine = {
        silent: true,
        data: [{
            yAxis: 50
        }, {
            yAxis: 150
        }, {
            yAxis: 250
        }, {
            yAxis: 350
        }, {
            yAxis: 420
        }]
    };
    pm10 = {{ pm10|safe }};
    pm10 = pm10.map(function (e, i) { return [date[i], e]})
    pm10_option.title.text = "PM10";
    pm10_option.series[0].name = pm10_option.title.text;
    pm10_option.series[0].data = pm10;
    echarts.init(document.getElementById('pm10')).setOption(pm10_option);

    var co2_option = option;
    co2_option.visualMap = {
        top: 0,
        right: 0,
        pieces: [{
            gt: 0,
            lte: 450,
            color: '#00E400'
        }, {
            gt: 450,
            lte: 1000,
            color: '#80FF80'
        }, {
            gt: 1000,
            lte: 2000,
            color: '#FFFF00'
        }, {
            gt: 2000,
            lte: 5000,
            color: '#FF7E00'
        }, {
            gt: 5000,
            color: '#FF0000'
        }],
        outOfRange: {
            color: '#999'
        }
    };
    co2_option.series[0].markLine = {
        silent: true,
        data: [{
            yAxis: 450
        }, {
            yAxis: 1000
        }, {
            yAxis: 2000
        }, {
            yAxis: 5000
        }]
    };
    co2 = {{ co2|safe }};
    co2 = co2.map(function (e, i) { return [date[i], e]})
    co2_option.title.text = "CO2";
    co2_option.series[0].name = co2_option.title.text;
    co2_option.series[0].data = co2;
    echarts.init(document.getElementById('co2')).setOption(co2_option);

</script>
{% endblock %}